{%extends 'base.html'%}

{%block t_body%}
<div class="focus">
    <ul class="rslides f426x240">
        <li><a href="video.html" ><h1>电子商务概论</h1><p>电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。</p><input type="button" value="进入课堂" /></a></li>
        <li><a href="video.html" ><h1>网站设计与开发</h1><p>电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。电子商务环境的需要和信息技术的进步是电子商务不</p><input type="button" value="进入课堂" /></a></li>
        <li><a href="video.html"><h1>软件工程</h1><p>电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。电子商务不断发展和进步的原动力。</p><input type="button" value="进入课堂" /></a></li>
    </ul>
</div>
<div class="e-business">
    <img class="line" src="../static/img/balloon_ico.png" />
    <img class="balloon" src="../static/img/balloon.png" />
    <img class="shadow" src="../static/img/iPeopleShadow.png" />
    <img class="bg" src="../static/img/iPeopleBg.png" />
    <img class="eb" src="../static/img/eb.png" />
</div>
{%endblock%}
