{%extends 'base.html'%}

{%block t_body%}
<div class="description">
    <p class="qweike">网络攻防课程简介</p>
    <p class="content">Color OS是OPPO手机深度定制的操作系统，与魅族的flyme、小米Miui相同。在其旗下旗舰机型oppo n1oppofind5 中采用。OPPO是国内唯一获得CM（知名国际ROM开发团队CyanogenMod）许可的ROM开发商，因此Color OS也是在很多细节处体现出开发者的用心.OS是OPPO手机深度定制的操作系统，与魅族的flyme、小米Miui相同。在其旗下旗舰机型oppo n1oppofind5 中采用。OPPO是国内唯一获得CM（知名国际ROM开发团队CyanogenMod）许可的ROM开发商，因此Color OS也是在很多细节处体现出开发者的用心.</p>
    <p class="made">——西南科技大学计算机科学与技术学院 | hockor</p>
</div>

<div class="description">
    <p class="qweike">任课教师简介</p>
    <p class="content">Color OS是OPPO手机深度定制的操作系统，与魅族的flyme、小米Miui相同。在其旗下旗舰机型oppo n1oppofind5 中采用。OPPO是国内唯一获得CM（知名国际ROM开发团队CyanogenMod）许可的ROM开发商，因此Color OS也是在很多细节处体现出开发者的用心.OS是OPPO手机深度定制的操作系统，与魅族的flyme、小米Miui相同。在其旗下旗舰机型oppo n1oppofind5 中采用。OPPO是国内唯一获得CM（知名国际ROM开发团队CyanogenMod）许可的ROM开发商，因此Color OS也是在很多细节处体现出开发者的用心.</p>
    <p class="made">——西南科技大学计算机科学与技术学院 | hockor</p>
</div>
{%endblock%}
