{%extends 'base.html'%}

{%block t_body%}
<div class="round">
    <p class="r-subject">网络攻防课程资料</p>
    <p class="r-teacher">——任课组</p>
</div>
<div class="list">
    <p class="catalog">列表</p>
    <div class="l-content">
        <ul>
        {%for file in files%}
            <li><p class="cs1-content">{{file.file.name}}</p><a href="{%url 'Content.views.downLoad' file.id%}"><span class="cs1-together">下载</span></a></li>
        {%endfor%}
        </ul>
    </div>
    <a href="/test"><input class="start-t" type="button" value="开始测试"/></a>
</div>
<script>
var arr = [];
var brr = [];
for(var i = 0;i<$(".cs1-content").length;i++){
    var str = $(".cs1-content")[i].innerHTML;
    arr.push(str)
}
for(var i= 0;i<arr.length;i++){

    var str = arr[i].split("/")[1];
    brr.push(str);
}
$.each(brr,function(i,con){
    $(".cs1-content")[i].innerHTML = con;
})
</script>
{%endblock%}
