{%extends 'base.html'%}

{%block t_body%}
<div class="round">
    <p class="r-subject">网络攻防课程资料</p>
    <p class="r-teacher">——任课组</p>
</div>
<div class="list">
    <p class="catalog">列表</p>
    <div class="l-content">
        <ul>
            <li><span class="cs1">第一章</span><p class="cs1-content">绪论</p> <span class="cs1-together">下载</span> </li>
            <li><span class="cs1">第二章</span><p class="cs1-content">电子商务的技术支撑环境</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第三章</span><p class="cs1-content">电子商务信息管理</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第四章</span><p class="cs1-content">物流与供应链管理</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第五章</span><p class="cs1-content">电子商务安群管理</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第六章</span><p class="cs1-content">电子商务安全</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第七章</span><p class="cs1-content">网络营销</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第八章</span><p class="cs1-content">电子商务安全</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第九章</span><p class="cs1-content">电子商务项目管理</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第十章</span><p class="cs1-content">电子商务发展</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第十一章</span><p class="cs1-content">电子支付</p><span class="cs1-together">下载</span></li>
            <li><span class="cs1">第十二章</span><p class="cs1-content">电子商务与消费者</p><span class="cs1-together">下载</span></li>
        </ul>
    </div>
    <a href="content.html"><input class="start-s" type="button" value="开始学习" onclick="" /></a>
    <a href="test.html"><input class="start-t" type="button" value="开始测试" onclick="" /></a>
</div>
{%endblock%}
