{%extends 'base.html'%}

{%block t_body%}
	<div class="public">
		<div class="pub-title">教师公告</div>
		<ol>
			<li class="pub-mess">电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。电子商务环境的需要和信息技术的进步是电子商务不</li>
			<li class="pub-mess">电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。电子商务环境的需要和信息技术的进步是电子商务不环境的需要和信息技术的进步是电子商务不断发展和进</li>
			<li class="pub-mess">电子商务环境的需要和信息技术的进步是电子商务不断发展和进步的原动力。电子商务环境的需要和信息技术的进步是电子商务不</li>
		</ol>
	</div>
	<div class="messlist">
		<div class="pub-title">留言板</div>
			<div class="mess-input">
				<textarea  placeholder='请输入您的内容'></textarea>
				<span class='ok-mess'>确认</span>
			</div>
			<div class="cc">
				<div class="ds-post-main">
					<div class="ds-avatar"></div>
					<div class="ds-comment-body">
						<span class="pub-user">hockor</span> 问：
						<p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
						<p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
						<p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
						<div class="mess-other">
							<span class="mess-date">2015.03.22 10:25:55</span>
							<a href="javascript:;" class="reply" display="none">回复</a>
						</div>
					</div>
				</div>
			</div>
	</div>
{%endblock%}
