{%extends 'base.html'%}

{%block t_body%}
	<div class="public">
		<div class="pub-title">教师公告</div>
		<ol>
			

		</ol>
	</div>
	<div class="messlist">
		<div class="pub-title">留言板</div>
			<div class="mess-input">
				<textarea  placeholder='请输入您的内容'></textarea>
				<span class='ok-mess'>确认</span>
			</div>
			<div class="cc">
			{%for msg in message%}
				<div class="ds-post-main" dataid="{{msg.id}}">
					<div class="ds-avatar"></div>
					<div class="ds-comment-body">
						<span class="pub-user">{{msg.name}}</span> 问：
						<p>{{msg.message}}</p>
						<div class="mess-other">
							<span class="mess-date">{{msg.time}}</span>
							<a href="javascript:;" class="reply" display="none">回复</a>
						</div>
						
						<div class="replyword">
							{%for bsg in backmessage%}
							    {%if msg.id == bsg.msg_id%}
							    {{bsg.contents}}
							    {{bsg.time}}
							    {%endif%}
			    				{%endfor%}
						</div>
					</div>
				</div>
				{%endfor%}
		</div>
				
	</div>
	<script>

	var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //获取公告
	$.ajax({
		url: "/announcementlist",
		type : "GET",
		success : function(data){
			//console.log(data)
			$.each(data.data,function(i,con){
				var test = $('<h3>'+data.data[i].name+'('+data.data[i].time+')</h3><li class="pub-mess">'+data.data[i].content+'</li>');
				$(".public ol").append(test);
				console.log(test)
			})

		},
		error : function(){
			alert("network error!")
		}

	})


	//tijiao  liuyan
	$(".ok-mess").click(function(){
		var  message = $(".mess-input textarea").val();
		alert(message)
		$.ajax({
			url: "{%url 'Content.views.getMessage'%}",
			type : "POST",
			data : {
				message : message
			},
			success : function(data){
				var data = JSON.parse(data);
				var str = $('<div class="ds-post-main"><div class="ds-avatar"></div><div class="ds-comment-body"><span class="pub-user">'+data.name+'</span> 问：<p>"'+data.message+'"</p><div class="mess-other"><span class="mess-date">'+data.message_time+'</span><a href="javascript:;" class="reply" display="none">回复</a></div></div></div>');
				$(".ds-post-main").before(str);
			},
			error : function(){
				alert("error")
			}
		})
	})
	

	//留言等功能
	var reply = $("<div class='reply-it' ><textarea  placeholder='回复留言'></textarea><div>"+
	                    "<span class='cancle-reply'>取消</span>"+
	                    "<span class='ok-reply'>确认</span>"+
	                "</div></div>");
	var flag = false;
		$(".reply").bind("click",function(){
		    if(!flag){
		    	$(this).parent().parent().parent().append(reply);
		        //$(".messlist").append(reply);
		        $(".cancle-reply").click(function(){
		            $(".reply-it").remove();
		            falg = false;
		            return;
		        });

		        $(".ok-reply").click(function(){
		            //回复内容
		            var replyvalue1 = $(this).parent().parent().find("textarea");
		            var replyValue =$(this).parent().parent().find("textarea").val();
		            var id = $(this).parent().parent().parent().attr("dataid");
		            //alert(replyValue+":"+id);
		            var re = /傻比|煞笔|傻逼|尼玛|艹|操|日|shit|fuck|bitch/ig;

		            //敏感词处理
		            replyValue = replyValue.replace(re,function(str){
		                var result = "";
		                for(var i=0;i < str.length;i++){
		                    result += '*';
		                }
		                return result;
		            });

		            //console.log(replyValue);
		            if(replyValue){
		            	var par = $(this).parent().parent().parent().find(".replyword");
		            	var co =  $(this).parent().parent();
		                $.ajax({
		                    url:"/backmessage/",
		                    type: 'POST',
		                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
		                    data:{
		                        id : id,
		                        contents : replyValue
		                    },
		                    dataType: 'json',
		                    error: function(){
		                        alert('请重新提交！');
		                    },
		                    success:function(data){
		                    	console.log(par)
		                        	var str = $('老师回复:<p>'+data.contents+'</p><span>'+data.message_time+'</span>');
		                        		par.append(str);
		                        		co.hide();
		                        
		                    }
		                });
		            } else {
		                alert("请输入回复内容!");
		            }
		        })
		    }
		})
	

	/*$.ajax({
		var replyword = $(".reply-it textarea").val();
		url: "/",
		type : "POST",
		success : function(data){
			//console.log(data)
			$.each(data.data,function(i,con){
				var test = $('<h3>'+data.data[i].name+'('+data.data[i].time+')</h3><li class="pub-mess">'+data.data[i].content+'</li>');
				$(".public ol").append(test);
				console.log(test)
			})

		},
		error : function(){
			alert("network error!")
		}
	})*/
	</script>
{%endblock%}

