{%extends 'base.html'%}
{%block t_body%}
<div class="testmain">
    {%for test in tests%}
    <h3 testid={{test.id}} class="usertest">
        {{test.exam}}
        {{test.person}}
        {{test.totalscore}}
        {{test.time}}
    </h3>
    {%endfor%}
    <fieldset class="question">
    </fieldset>
    <input type="submit" value="提交" id="test" />
</div>

<div class="mask">
    <div class="result">
        <h3>答题结果</h3>
        <span class="close">X 关闭</span>
        您的最终得分为：<span class="score"></span>
    </div>
</div>
<script>

    var testid = $(".usertest").attr("testid");
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $.ajax({
        url:"/test/"+testid,
        type:"GET",
        success : function(data){
            $.each(data.data,function(i,con){
                var test = $('<p>'+data.data[i].question+'(本题目'+data.data[i].score+'分)</p><label><input type="radio" name="'+data.data[i].id+'" value="A"/>'+data.data[i].optionA+'</lable><label><input type="radio" name="'+data.data[i].id+'" value="B"/>'+data.data[i].optionB+'</lable><label><input type="radio" name="'+data.data[i].id+'" value="C"/>'+data.data[i].optionC+'</lable><label><input type="radio" name="'+data.data[i].id+'" value="D"/>'+data.data[i].optionD+'</lable>');
                $(".question").append(test);
            }); 
        }
    })
    var arr = [];
    $("#test").click(function(){
        var teststr = $(":checked");
        var height = $(window).height();
        $.each(teststr,function(i,con){
            
            var nowstr = teststr[i];
            var nowvalue =  nowstr.getAttribute('value');
            arr.push(nowvalue);
        })
        if($(".question p").length!=$(":checked").length){
            alert("请完成全部题目哦!");
        } else {
            arr = JSON.stringify(arr);
            $.ajax({
                url:"/test/"+testid,
                type:"POST",
                data : {
                   answer : arr
                },
                success : function(data){
                    if(data.status == 1){
                        alert("please login");
                        window.location.href = "/loginhd/"
                    } else{
                        $(".mask").css("height",height+"px");
                        $(".mask").show();
                        $(".score").html(data.score);
                        $(".close").click(function(){
                            $(".mask").hide();
                    })
                    }
                },
                error : function(){
                    alert("error")
                }
 
            })
        }
    })
</script>
{%endblock%}

