{%extends 'base.html'%}

{%block t_body%}
<ul>
    <li class="classify">
        <p>电商类</p>
        <ul>
            <li><a href="">c++</a></li>
            <li><a href="list.html">电子商务概论</a></li>
            <li><a href="">计算机网络技术</a></li>
            <li><a href="">数据库</a></li>
            <li><a href="">操作系统</a></li>
        </ul>
    </li>
    <li class="c-classify">
        <p>计算机类</p>
    </li>
    <li class="c-classify">
        <p>语言类</p>
    </li>
    <li class="c-classify">
        <p>经济类</p>
    </li>
    <li class="c-classify">
        <p>数学类</p>
    </li>
    <li class="c-classify">
        <p>材料类</p>
    </li>
</ul>
{%endblock%}
